@import './reset';
@import './style-guide/fonts';
@import './style-guide/variables';
@import './style-guide/text';
@import './style-guide/button';
@import './style-guide/mixin';
@import './style-guide/input';
@import './style-guide/switch';
@import './style-guide/dark-mode';


img {
    display: block;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 48px 0;
    vertical-align: middle;
    &__pic {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    &__pic-logo {
        padding-right: 40px;
    }
    &__nav {
        display: flex;
    }
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
    }
    &__switch {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn {
        @extend %btn;
        margin-left: 24px;
        background-color: $violet;
    }
    &__item {
        list-style: none;
    }
    &__item a {
        color: #fff;
        margin: 0 24px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.fixed-btn {
    @extend %btn;
    background-color: $violet;
    position: fixed;
    top: 16px;
    right: 30px;
    opacity: 0;
    transition: all .1s ease-in-out;
    z-index: 1000;
    &:hover {
        background-color: rgba(155, 81, 224, 0.9);
    }
}

.back-top {
    display: none;
    i {
        position: fixed;
        bottom: 20px;
        right: 50px;
        color: $gray;
        font-size: 50px;
        z-index: 1000;
        &:hover {
            color: rgba(138, 143, 152, 0.9);
        }
    }
}

.intro {
    padding: 48px 0 94px;
    &__wrap {
        display: grid;
        grid-template-columns: 664px / 1296px * 100% 552px / 1296px * 100%;
        column-gap: 50px / 1296px * 100%;
        align-items: center;
    }
    .decoration-text {
        color: $light-green;
    }
    &__desc {
        width: 512px / 664px * 100%;
    }
    &__form {
        margin-top: 52px;
        max-width: 512px;
    }
    &__btn {
        @extend %btn;
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: $orange;
    }
    &__pic {
        width: 100%;
        margin-top: 50px;
    }
}

.benefits {
    padding: 144px 0;
    &__group {
        display: grid;
        grid-template-columns: 512px / 1296px * 100% 679px / 1296px * 100%;
        column-gap: 105px/1296px*100%;
        align-items: center;
        padding-bottom: 192px;
    }
    &__group:nth-child(even) {
        grid-template-columns: 679px / 1296px * 100% 512px / 1296px * 100%;
        grid-row-start: -1;
    }
    &__group:nth-child(1) {
        .decoration-text {
            color: $orange;
        }
    }
    &__group:nth-child(2) {
        .decoration-text {
            color: $violet;
        }
    }
    &__group:last-child {
        padding-bottom:0;
        .decoration-text {
            color: $light-blue;
        }
    }
    &__pic img {
        width: 100%;
    }
    &__pic-reverse {
        grid-row-start: -1;
    }
}

.features {
    &__wrap {
        display: flex;
        padding: 96px 0;
    }
    .decoration-text {
        color: $orange;
    }
    &__tools {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 96px;
        row-gap: 48px;
        .features__tool {
            &-pic {
                margin-bottom: 24px;
            }
            &-title {
                margin-bottom: 8px;
            }
        }
    }
    &__right {
        display: block;
        margin-top: 60px;
        text-align: right;
        width: 100%;
        &-desc {
            color: #DFE7F1;
        }
        &-pic {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: auto;
        img {
            width: 80%;
            height: auto;
            }
        }
    }
}

.impact {
    padding: 60px 54px;
    &__wrap {
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 60px;
        padding: 0 70px;
        background-color: #28292C;
        border: 0 solid hidden;
        border-radius: 16px;
        img {
            width: 100%;
        }
    }
    &__info {
        width: 100%;
        margin: auto 0;
        h2 {
            margin-bottom: 16px;
        }
        .decoration-text {
            color: $orange;
        }
    }
    &__btn {
        @extend %btn;
            background-color: $orange;
            margin: 40px 0;
    }
}

.development {
    background-color: #5d647b;
    background: linear-gradient(180deg, #212224 0%, #28292C 8.98%, #28292C 91.23%, #212224 100%);
    padding-top: 140px;
    padding-bottom: 128px;
    &__title {
        text-align: center;
        .decoration-text {
            color: $violet;
        }
    }
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 128px;
        justify-content: center;
        align-items: center;
        padding: 0 72px;
    }
    &__pic {
        img {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
    &__map {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 96px;
        row-gap: 64px;
    }
    &__item {
        &-icon {
            margin-bottom: 24px;
        }
        &-title {
            margin-bottom: 8px;
        }
        &-voting {
            display: flex;
            flex-direction: column;
            & form {
                margin-top: 24px;
            }
        }
    }
}


.pricing {
    padding: 96px 0 128px;
    &__wrap {
        text-align: center;
        .decoration-text {
            color: $orange;
        }
    }
    &__select {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 42px;
        span:first-child {
            color: $light-green;
        }
        span:last-child {
            color: $violet;
        }
    }
    &__switch {
        appearance: none;
        width: 58px;
        height: 24px;
        background-color: $gray;
        border-radius: 12px;
        position: relative;
        outline: none;
        cursor: pointer;
        margin: 0 50px;
        transition: 0.3s;
        &::before {
            content: '';
            position: absolute;
            height: 20px;
            width: 20px;
            background-color: $light-green;
            border-radius: 50%;
            top: 2px;
            left: 2px;
        }
        &::after {
            content: '';
            position: absolute;
            font-family: "Reenie Beanie";
            font-size: 32px;
            letter-spacing: 0;
            line-height: 40px;
            color: $gray;
            left: 96px;
            white-space: nowrap;
        }
        &:checked::before {
            background-color: $violet;
            left: 36px;
        }
        
    }
    &__tariffs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 48px;
    }
    &__tariff {
        display: flex;
        flex-direction: column;
        background-color: #1C1D1F;
        border-radius: 24px;
        box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2);
        padding: 64px 48px 50px;
        @include color-dec($light-green);
        &:hover{
            button {
                @extend %btn;
                display: block; 
                }
            }
        &-title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 36px;
            button {
                @extend %btn;
                padding: 0 24px;
                display: none; 
            }
        }
        &-list {
            text-align: start;
            list-style-type: disc;
            list-style-position: inside;
            color: #FFFFFF;
            letter-spacing: 0.5px;
            line-height: 32px;
            margin-bottom: 48px;
        }
        &-price {
            text-align: start;
            margin: auto 0 0 0 ;
        }
        .currency {
            font-size: 32px;
            letter-spacing: 0;
            line-height: 40px;
        }
        .price {
            font-size: 48px;
            font-weight: 900;
            letter-spacing: 0;
            line-height: 56px;
            margin: 0 8px;
        }
        .period {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.15px;
            line-height: 24px;
        }
        &:nth-child(2) {
            @include color-dec($orange);
            li:first-child {
                color: $gray;
                margin-bottom: 32px;
            }
        }
        &:nth-child(3) {
            @include color-dec($violet);
            li:first-child {
                color: $gray;
                margin-bottom: 32px;
            }
        }
    }
}

.subscription {
    padding: 76px 0;
    background-color: #121314;
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 170px;
        justify-content: center;
        align-items: center;
        max-width: 1072px;
        margin: 0 auto;
    }
    .h2 {
        margin: 0;
    }
    .decoration-text {
        color: $violet;
        text-align: center;
    }
    &__btn {
        @extend %btn;
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: $violet;
    }
    & form {
        width: 100%;
    }
}

.footer {
    padding: 48px 0;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
    }
    &__item {
        margin: 0 33px;
    }
        &:last-child {
            margin-right: 0;
        }
    a {
        color: $gray;
        text-decoration: none;
    }
}

/* Page Terms */

.terms {
    &__title {
        text-align: center;
    }
    &__desc {
        margin-top: 8px;
    }
}

/* Page Privacy */

.privacy {
    &__title {
        text-align: center;
    }
    &__desc {
        margin-top: 8px;
    }
    &__item {
        list-style-type: disc;
        margin-top: 10px;
        margin-left: 16px;
    }
}