@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    transition: .7s;
    color: $gray;
    background: $dark-bg;
  }
  body.light-theme {
    color: $pale-black;
    background-color: $light-bg;
    & h2, .h1 {
      color: $pale-black;
      }
    & h2, .h2 {
      color: $pale-black;
      }
    & h3, .h3 {
      color: $pale-black;
      }
    & .head__item a {
      color: $pale-black;
    }
    & .head__pic-logo-2 {
      fill: $pale-black;
    }
    & .features__right-desc {
      color: $pale-black;
    }
    & .impact__wrap {
      background-color: $white;
    }
    & .development {
      background: linear-gradient(180deg, #F8FAFF 0%, #ffffff 8.98%, #ffffff 91.23%, #F8FAFF 100%);
    }
    & .pricing__tariff {
      background-color: $white;
    }
    & .pricing__tariff-list {
      color: $pale-black;
    }
    & .subscription {
      background-color: $pale-black;
      .h2 {
        color: $light-bg;
      }
    }
    & .footer__pic-logo-2 {
      fill: $pale-black;
    }
  }
}

