$dark-bg: #1d1f22;
$light-bg: #F8FAFF;
$light-green: #58D8A4;
$light-blue: #33C6C7;
$orange: #FF934F;
$violet: #9B51E0;
$gray: #8A8F98;
$white: #ffffff;
$pale-black: #40466e;

//QUERIES

$phoneWidth: 768px;
$tabletWidth: 1024px;
$fullWidth: 1440px;
$fullHDWidth: 1920px;

$phone: "max-width: " + ($phoneWidth - 1);
$tablet: "max-width: " + ($tabletWidth - 1);
$full: "max-width: " + ($fullWidth - 1);
$fullHD: "max-width: " + ($fullHDWidth - 1);

